.container{
  width: 500px;
  background-color: rgb(51, 51, 51);
}
.user{
  padding: 10px;
  border-bottom: 3px dashed black;
  color: beige;
  font-size: 20px;

}
 .user-card{
  display: flex;
  justify-content: space-between;
  align-items: center;

 }
 .user-card img{
  border-radius: 100%;
  width: 100px;
  height: 100px;


 }
 .search-box input{
  text-align: center;
  width: 95%;
  padding: 5px;
  margin: 5px;
 }